@import "../../styles/mixins.scss";

.wrapper {
  @include container;
  display: grid;
  grid-template-columns: 2fr 6fr;
  margin-top: 20px;
  margin-bottom: 20px;
}
.productsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

