@import "../../styles/mixins.scss";

.checkout {
  @include container;
  .order {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-row-gap: 20px;
    column-gap: 20px;
    padding-bottom: 50px;
  }

}
