.sidebar {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  padding: 20px;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  // border-right: 1px dashed  rgba(145, 158, 171, 0.24);
  // width: 50px;
  // overflow-x: hidden;
  .head{
    padding-bottom: 25px;
    font-size: 20px;

  }
  &__option {
    padding: 15px 0;
    font-size: 15px;
    border-bottom: 1px solid #eee;
    &:nth-child(2) {
      border-top: 1px solid #eee;
    }
    img {
      width: 18px;
      opacity: 0.3;
    }
    &:hover {
      cursor: pointer;
      & a,
      & img {
        opacity: 1;
      }
    }
    a {
      color: #010203;
      opacity: 0.6;
      font-size: 14px;
      transition: all ease 0.5s;
      font-family: "Inter", sans-serif;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}
