@import "../../styles/mixins.scss";

.footer {
    border-top: 1px solid #dce5e2;
    padding-top: 20px;
    background-color: #fff;
  .footerWrapper {
    @include container;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    padding: 20px 0;
}
  .logoColumn{
    p{
        margin-top: 25px;
    }
    .logos{
        img{
            margin-right: 10px;
            width: 25px;
        }
    }
  }
}
