.order {
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-row-gap: 20px;
  &Table {
    &__card {
      padding: 5px;
      border-radius: 20px;
      background-color: #fff;
      box-shadow: rgb(145 158 171 / 20%) 0px 0px 2px 0px,
        rgb(145 158 171 / 12%) 0px 12px 24px -4px;
      table {
        border: none;
        width: 100%;
        padding: 5px;
      }
      table thead {
        width: 100%;
        background-color: #f4f6f8e3;
        & tr th {
          padding: 15px 12px;
          text-align: left;
          font-size: 15px;
          color: #677381;
          font-weight: 500;
          font-family: "Poppins", sans-serif;
          &:first-child {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
          }
          &:last-child {
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
          }
        }
      }
      tbody {
        tr {
          td {
            font-size: 14px;
            text-align: center;
          }
          .product {
            padding: 10px 9px;
            display: grid;
            grid-template-columns: 1fr 3fr;
            gap: 10px;
            &Image {
              width: 100%;

              display: flex;
              align-items: center;
              justify-content: center;
              img {
                object-fit: cover;
                width: 100%;
                border-radius: 10px;
                width: 80px;
              }
            }
            &Details {
              display: flex;
              align-items: center;
              color: #212b36;
              font-weight: 500;
            }
          }
          .deleteItem {
            display: grid;
            place-items: center;
            margin: 0 auto;
            width: 32px;
            height: 32px;
            cursor: pointer;
            border-radius: 50%;
            transition: all ease 0.2s;
            &:hover {
              background-color: #eee7e77e;
            }
            img {
              width: 15px;
            }
          }
        }
      }
    }
  }
}
