@import "../../styles/mixins.scss";

.header {
    position: relative;
  width: 100%;
  background: #fff;
}

.container {
  @include container;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
nav ul {
  display: flex;
  list-style: none;
  li {
    margin: 0 10px;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    cursor: pointer;
  }
}
nav{
  @media (max-width:992px) {
    border-top: 1px solid #d4d4d4;
    position: absolute;
    bottom: 0;
    top: 100%;
    left: 0;
    right: 0;
    ul{
      display: block;
      padding: 20px;
    }
    li{
      padding: 15px 0;
    }
  }

}
.navIcons img {
  margin-right: 15px;
}
@media (min-width: 992px) {
  .hamburgerIcon {
    margin-left: 15px;
    display: none;
  }
}
