@import "../../styles/mixins.scss";

.singleProduct {
  @include container;
  margin: 0 auto;
  .productWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .productImage {
    .mainImage {
      width: 100%;
      img {
        width: 100%;
        object-fit: contain;
      }
    }
    .secondaryImages {
      border: 1px solid;
      display: flex;
      gap: 15px;
      justify-content: center;
      flex-wrap: wrap;
      .secondaryImageHolder {
        border: 1px solid;
        width: 80px;
        height: 80px;
        display: grid;
        place-items: center;
        border-radius: 5px;
        img {
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }
}
